#imageModel-puchased {
  .image-modal-purchased {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin: auto;
  }

  .modal-content-purchased {
    aspect-ratio: 9 / 9;
    max-width: 62%;
    margin-top: 6em;
    max-height: 95%;
    align-items: center;
  }

  .modal-content-purchased img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .first-img {
    display: none;
  }
  .last-img {
    display: none;
  }
  .last-img:hover {
    opacity: 0.3;
  }
  .prev-btn,
  .next-btn {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1000;
    color: white;
    font-size: 1.5em;
    padding: 0.9em 1em;
    border-radius: 5px;
    padding-bottom: 0.8em;
    align-items: center;

    img {
      display: flex;
    }
  }

  .prev-btn {
    left: 1em;
  }

  .next-btn {
    right: 1em;
  }

  .prev-btn:hover,
  .next-btn:hover {
    opacity: 0.8;
  }
  .download-btn {
    position: absolute;
    top: 10px;
    right: 60px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background: none;
  }

  .download-btn:hover {
    opacity: 75%;
  }

  @media (max-width: 768px) {
    .prev-btn,
    .next-btn {
      font-size: 1em;
      padding: 0.3em 0.5em;
    }
  }
}

// #imageModel {
//   .image-modal {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent background */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 999;
//   }

//   .modal-content {
//     max-width: 70%;
//     max-height: 80%;
//     overflow: auto;
//   }

//   .prev-btn,
//   .next-btn {
//     position: fixed;
//     top: 50%;
//     transform: translateY(-50%);
//     border: 0;
//     background: rgba(0, 0, 0, 0.5);
//     cursor: pointer;
//     z-index: 1000;
//     color: white;
//     font-size: 1.5em;
//     padding: 0.5em 1em;
//     border-radius: 5px;
//   }

//   .prev-btn {
//     left: 1em;
//   }

//   .next-btn {
//     right: 1em;
//   }

//   .prev-btn:hover,
//   .next-btn:hover {
//     opacity: 0.8;
//   }

//   @media (max-width: 768px) {
//     .prev-btn,
//     .next-btn {
//       font-size: 1em; /* Adjust font size for smaller screens */
//       padding: 0.3em 0.5em; /* Adjust padding for smaller screens */
//     }
//   }
// }
