#Home-img {
  background-image: url("/src/assets/portal-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

/* .nav, .bottom-nav {
  display: none;
} */
